body {
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
}

header {
	padding: 30px 15px;
	margin-bottom: 30px;
	background-image: url('../img/bg.png');
	text-align: center;
	color: #fff;	
}

header h1 {
	margin: 0 0 15px;
	font-size: 5em;
	color: #eee;
	text-shadow: 0px 3px 8px #2a2a2a;
}

header h2 {
	margin: 0;
	font-size: 1.7em;
	font-weight: bold;
	color: #004D40;
	text-shadow: 0px 2px 3px #555;
}

.content {
	text-align: center;
	padding: 0 15px;
}

.btn {
	min-width: 175px;
	margin: 0 5px 10px;
	font-family: Lato, Arial, sans-serif;
	border-radius: 0;
	border-color: #009688;
	color: #009688;
}

.btn i {
	margin-right: 8px;
}

.btn:hover,
.btn:active,
.btn:focus {
	background-color: #009688;
	color: #fff;
}



@media (max-width: 767px) {

	header h1 {
		font-size: 3em;
	}

}