:root {
  --primary: #334155;
  --primary-light: #f1f5f9;
}

html {
  font-size: 16px;
}

body {
  align-content: flex-start;
  background: var(--primary-light);
  color: var(--primary);
  display: grid;
  font-family: "Spartan", sans-serif;
  grid-template-columns: max-content max-content;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 7vh;
  font-weight: 500;
  margin: 8vh 0 0 0;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
}

.subtitle {
  font-size: 6vh;
  font-weight: 200;
  text-align: right;
  writing-mode: vertical-lr;
}

.contact {
  align-items: center;
  background: var(--primary);
  border-radius: 50%;
  bottom: 3vh;
  color: #fff;
  display: flex;
  font-size: 3vh;
  height: 2.5em;
  justify-content: center;
  position: fixed;
  right: 50%;
  text-decoration: none;
  transform: translateX(50%);
  width: 2.5em;
}

.contact svg {
  height: 1em;
  width: 1em;
}

.contact:hover {
  opacity: 0.9;
}
